* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3c39c;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.caixa {
    display: flex;
    margin: 15px;
}

.name-desc-btn h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.name-desc-btn p {
    font-size: 15px;
    margin-bottom: 30px;
}

.imagemPersonagem {
    max-width: 300px;
}

img {
    display: none;
    width: 100%;
}

button {
    background-color: black;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 20px;
    margin: 2px 0;
    text-transform: uppercase;
    border-radius: 3px;
    width: 100px;
}

button:hover {
    background: #fff;
    color: #000;
}


h1 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#desc {
    max-width: 500px;
}

#buttons {
    max-width: 400px;
}

@media only screen and (min-width: 831px) and (max-width: 979px) {
    #name {
        font-size: 35px;
    }
}

/* ESTILOS PARA SMARTPHONE */
@media only screen and (max-width: 830px) {
    .caixa {
        flex-direction: column;
    }
    img{
        max-width: 160px;
    }
}
@media only screen and (max-width: 430px) {
    #name {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }
    #desc{
        text-align: center;
        
    }
    .caixa {
        align-items: center;
        flex-direction: column-reverse;
        display: flex;
        margin-top: 40px;
    }
    #buttons{
        margin-bottom: 20px;
    }

    img{
        max-width: 120px;
    }
}
